<footer class="footer">
  <div class="footer_inner wrap pale">
    <p>
      &copy;&nbsp;<span class="year"></span>&nbsp;{{ site.title }}. Designed by <a href="https://www.linkedin.com/in/dan-weru-profile/">Weru</a>.
    </p>
  </div>
</footer>

<script type="text/javascript" src='{{ "/assets/js/variables.js" | relative_url }}'></script>
<script type="text/javascript" src='{{ "/assets/js/functions.js" | relative_url }}'></script>
<script type="text/javascript" src='{{ "/assets/js/index.js" | relative_url }}'></script>