<head>
  <meta charset="utf-8">

  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>

  <link rel='apple-touch-icon' sizes='180x180' href='{{ "/assets/images/icons/apple-touch-icon.png" | relative_url }}'>
  <link rel='icon' type='image/png' sizes='32x32' href='{{ "/assets/images/icons/favicon-32x32.png" | relative_url }}'>
  <link rel='icon' type='image/png' sizes='16x16' href='{{ "/assets/images/icons/favicon-16x16.png" | relative_url }}'>
  <link rel='manifest' href='{{ "/assets/images/icons/site.webmanifest" | relative_url }}'>

  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/galleria/themes/folio/galleria.folio.css" | relative_url }}">
  {%- feed_meta -%}

  <script src="{{ "/assets/js/jquery-3.6.0.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/galleria/galleria.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/galleria/plugins/flickr/galleria.flickr.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/galleria/themes/folio/galleria.folio.min.js" | relative_url }}"></script>
</head>