<h3>Related Posts</h3>

<ul class="posts aside">
    {% for related in site.related_posts limit:2 %}
        {% if related.image %}
            {% assign related_bg = "/assets/images/" | append: related.image | relative_url %}
        {% else %}
            {% assign related_bg = "/assets/images/thumbnail.svg" | relative_url %}
        {% endif %}

        <li class="post_item fp">
            <a class="post_card" href="{{ related.url | relative_url }}" title="{{ related.title | escape }}" style='background-image: url({{ related_bg }});'></a>

            <div class="excerpt">
                <div class="excerpt_meta">
                    {% for tag in related.tags %}
                        <a href="tags/{{ tag }}" class="post_tag">{{ tag }}</a>
                        {% break %}
                    {% endfor %}
                </div>
                <h3 class="post_link"><a href="{{ related.url | relative_url }}">{{ related.title | escape }}</a></h3>
                <p class="pale">{{ related.excerpt | markdownify | strip_html | truncate: 90 }}</p>
            </div>
        </li>
    {% endfor %}
</ul>